/.vs/mini-blog/v15/.suo
/obj/Debug/netcoreapp2.0/mini-blog.AssemblyInfo.cs
/obj/Debug/netcoreapp2.0/mini-blog.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp2.0/mini-blog.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp2.0/mini-blog.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp2.0/mini-blog.csprojResolveAssemblyReference.cache
/obj/mini-blog.csproj.nuget.cache
/obj/mini-blog.csproj.nuget.g.props
/obj/mini-blog.csproj.nuget.g.targets
/obj/project.assets.json
/.vscode/launch.json
/.vscode/tasks.json
